body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
body, button, input, select, textarea { font: 12px/1.6 Verdana, "微软雅黑", 宋体, Helvetica, sans-serif; }/*雅黑：\5FAE\8F6F\96C5\9ED1  Verdana, Helvetica, sans-serif*/
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size: 100%;}
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a { color: #690; text-decoration: none; }
a:hover, a:active { color: #360; text-decoration: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; }
table { border-spacing: 0; border-collapse: collapse; }
body {background:#f0f0f0;}
.clear {clear:both;height:0;}
.cf30{color:#f30;}a.cf30:link,a.cf30:visited{color:#f30;}a.cf30:hover,a.cf30:active{color:#f30;}
.cf60{color:#f60;}a.cf60:link,a.cf60:visited{color:#f60;}a.cf60:hover,a.cf60:active{color:#f60;}
.cf90{color:#ffb900;}a.cf90:link,a.cf90:visited{color:#ffb900;}a.cf90:hover,a.cf90:active{color:#ffb900;}
.c000{color:#000;}.c333{color:#333;}.c666{color:#666;}.c999{color:#999;}.cccc{color:#ccc;}.caaa{color:#aaa;}

#topBar { height: 50px; background: #333;}
#topBar .topContent { margin: 0 auto; padding: 0 20px; width: 980px;}
#topBar .topLogo { float: left; margin-right: 24px; height: 50px;width:100px; }
#topBar .topLogo a {display:block;height:50px;}
#topBar .topNav { float: left; }
.topNav a { display: inline-block; float: left; overflow: hidden; width: 80px; height: 50px; color: #fff; text-align: center; text-decoration: none; font-size: 14px; line-height: 50px; }
.topNav a:hover { background: #555; color: #fff; }
.topNav a.selected { background: #690; color: #fff; }
.topHeadeRight {float:right;}
.searchBar { float:right; margin-top:10px;margin-right:10px;border-radius:3px;overflow:hidden; }
.searchBar form {width: 170px;height: 32px;background: #434649;}
.searchBar form .searchInput {float:left; padding: 9px; width: 122px; height: 14px; outline: none;border: none;background-color:#666; color: #8b8d90;line-height: 14px;}
.yy-icon {display: inline-block;background-image: url(/images/spirit.png);background-repeat: no-repeat;}
.yy-so {float:right;width:30px; height:32px;border:0; background-color:#666;background-position: -4px -3px;width:30px; height:32px; cursor:pointer; transition:background-color ease-out .3s;}
.yy-so:hover {background-color:#434649;}
.doLogBox {float:right;color:#999; line-height:50px;}
.doLogBox a { margin:0 5px;color:#fff;font-size:14px;}
.logedin {float:right;position:relative;}
.logedin:hover .son {display:block;}
.logedin a {display: inline-block;height: 41px;padding: 9px 15px 0;}
.logedin a img {width:32px;height:32px;-moz-border-radius: 3px;border-radius: 3px;-webkit-border-radius: 3px;}
.logedin a:hover {background:#2d2d2d;}
.son {	width:140px;position: absolute;background: #2d2d2d;right:0px;top: 50px;display: none;z-index:1;}
.son li {line-height: 40px;cursor: default;color: #fff;}
.son li a {display: block;color: #fff;text-indent:30px;padding:0;margin-top:0;}
.son li a.newone {background:#d80616}
.son li a:hover {background:#690;color:#fff; text-decoration:none;}
.msg_count, .top_sumit {float:right;position:relative;}
.msg_count .tosms {display:block;width: 38px;background: url(/images/spirit.png) no-repeat -120px 8px;height: 50px;}
.msg_count .tosms:hover { background-position:-120px -28px;background-color:#2d2d2d;}
.msg_count .newmsg {background-color:#d80616 ;background-position:-120px -28px;}
.msg_count:hover .son {display:block;}
.top_sumit .tosms {display:block;width: 38px;background: url(/images/spirit.png) no-repeat -158px 8px;height: 50px;}
.top_sumit .tosms:hover { background-position:-158px -28px;background-color:#690;}


#wrapper, .wrapper { margin: 0 auto;padding:0 20px; width:980px; }
#wrapper h2 {color:#333;font-size:18px;line-height:51px;margin-top: 40px;margin-bottom: 20px;height: 50px;border-bottom: #dedede 1px solid;}
body {background:#000 url(/images/classicBg.jpg) top center no-repeat;}
.invitation .main {width:460px;padding:60px 160px;margin:40px auto;background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;filter:Alpha(opacity=70); background:#000;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;}
.invitation .main .content {position:relative;width:460px;margin:0;text-align:center;}
.invitation .main .content .logo {}
.invitation .main .content h2, .invitation .main .content h3 {margin-bottom:10px;font-size:36px;text-align:center;color:#fff;}
.invitation .main .content h3 {font-size:22px;}
.invitation .main .content p {width:460px;margin:0 auto;color:#ccc;font-size:14px;line-height:24px;margin-bottom:20px;text-align:center;}
.ihave {width:460px;}
.active form {display:block;margin:0 auto;overflow:auto;text-align:center;}
.activeInput {margin-bottom:20px;width:360px;height:40px;line-height:40px;padding:3px 5px;font-size:24px;text-align:center;border:none;-moz-border-radius: 3px;border-radius: 3px;-webkit-border-radius: 3px;}
.btn_sumit {display:block;width:80px;height:36px;margin:0 auto;line-height:34px;text-align:center;padding:3px 35px;font-size:16px;border:none;cursor:pointer;color:#fff;background:#690;-moz-border-radius: 3px;border-radius: 3px;-webkit-border-radius: 3px;}
.btn_sumit:hover {background-color:#360;color:#fff;}
.apply {width:460px;margin-top:40px;padding-top:40px;border-top:1px solid #444;}
.btn_apply {display:block;width:80px;height:36px;margin:0 auto;line-height:34px;text-align:center;padding:6px 45px;font-size:16px;border:none;cursor:pointer;color:#fff;background:#f60;-moz-border-radius: 3px;border-radius: 3px;-webkit-border-radius: 3px;}
.btn_apply:hover {background-color:#e65c00;color:#fff;}

#footer {width:100%;background:none;height:95px;color:#2c231c;border-top:0px solid #e5e5e5;line-height:95px;}
#footer .inner {margin:0 auto;padding:0 20px;width:980px;text-align:center;}
