@charset "utf-8";
/*屏幕小于980px*/
@media screen and (max-width: 1024px) {
#wrapper, .wrapper { margin: 0 auto;padding:0 20px; width:980px; }
.main .content {overflow:auto;width:1200px;}
.citem {float:left; margin:0 20px 20px 0;width:230px;-webkit-box-shadow: 0px 1px 1px #dedede;-moz-box-shadow: 0px 1px 1px #dedede;box-shadow: 0px 1px 1px #dedede;}
.cover {width:230px; height:148px;overflow:hidden;position:relative;}
.cover a {display:block;}
}
/*屏幕小于650px*/
@media screen and (max-width: 650px) {
#content { width: auto;float: none;margin: 20px 0;}
#sidebar { display:none;  width: 100%; margin: 0; float: none; }
#sidebar .widget { padding: 3% 4%; margin: 0 0 10px; }
}
/*屏幕小于480px*/
@media screen and (max-width: 480px) {
html { 	-webkit-text-size-adjust: none; }
body { background: url(images/body_bg.jpg) repeat-x 50% -24px;}
#header {  height:196px;}
#nav_wrap { position: relative; }
#searchform { position: absolute;top: 132px;right:5px;z-index: 100;height: 40px;}
#searchform #s { width: 70px;}
#searchform #s:focus { width: 150px;}
#logo { margin: 15px 100px 5px 0;position: static;}
#logo a{ height:80px;}
#description { margin: 0 0 15px;position: static;}
#menu_icon { position:absolute; bottom:-60px; color: #000; width: 70px; height: 24px; line-height:24px; text-align:center; background:#efefef; cursor: pointer; display: block; }
#nav { clear: both; position: absolute; top: 68px; width: 130px; z-index: 10000; padding: 5px; background: #f8f8f8; border: solid 1px #999; display: none; height:80px;  }
#nav li { clear: both; float: none; margin: 5px 0 5px 10px;}
#nav a,  #nav ul a { 	font: inherit; background: none; display: inline; padding: 0; color: #666; border: none; }
#nav a:hover,  #nav ul a:hover { background: none; color: #000;}
}
